*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    text-decoration: none;
}
body{
    font-size: 100%;
    background: #FFFFFF;;
}
.cabecalho{
    font-family: 'Inter', 'sans-serif';
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 5px solid #000000;
}
.cabecalho-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo-logo{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 30px;
    line-height: 48px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.barra-pesquisa{
    
    width: 505px;
    height: 46px;
    background: #00A7E1;
    border: 1px solid #000000;
    border-radius: 15px;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    gap: 5px;
}
.search-icon{
    width: 28px;
    height: 28px;
    padding: 2px;
}
.search-text{
    color: #FFFFFF;
    background: none;
    border: 0;
    outline: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    
}
.botoes{
    display: flex;
    gap: 20px;

}
.botao-login{
    font-family: 'Inter', 'sans-serif';
    padding: 5px;
    background: #00A7E1 ;
}
.botao-cadastre-se{
    font-family: 'Inter', 'sans-serif';
    padding: 5px;
    background: #000000;
    color: #00A7E1;

}



.conteudo{
    display: flex;
}
.conteudo-esquerda{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Inter','sans-serif';
}
.titulo-curso{
    color: #fff;
    display: flex;
    flex-direction: column;
}
.titulo-conteudo-esquerda{
    margin-top: 100px;
    margin-left: 80px;
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 56px;
}
.titulo2-conteudo-esquerda{
    margin-left: 240px;
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 56px;
}
.subtitulo-conteudo-esquerda{
    margin-left: 110px;
    font-family: 'Inter','sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;

}
.titulo-curso{
    width: 1920px;
    height: 369px;
    background: #1B1B22;
}
.conteudo-direita{
    margin-left: 1305px;
}
.informacoes-professor{
    margin-top: 60px;
}
.nome-professor{
    margin-left: 60px;
    font-family: 'Inter','sans-serif';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}
.foto-professor{
    width: 198px;
    height: 198px;

}
.prof{
    margin-top: 40px;
    margin-left: 110px;
    display: flex;
    flex-direction: row;

}
.especificacoes-professor{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.colunas{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.classificacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 19px;
}
.avaliacao{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.descricao-professor{
    margin-left: 140px;
}
.descricao-professor1{
    font-family: 'Inter','sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
}
.descricao-professor2{
    font-family: 'Inter','sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 100px;
}
.aulas{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: 9px;
}

.formacao-professor{
    margin-left: 100px;
    font-family: 'Inter','sans-serif';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}

.rodape{
    border-top:5px solid black ;
    background:#1B1B22;
    display: flex;
    justify-content:space-between;
}


.links{
    margin-left: 10px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-around;
}
.titulo-rodape{
    color: #fff;
    font-family: 'Inter', 'sans-serif';
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.copyright-logo{
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}
.wave-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.links-rodape1{
    font-family: 'Inter', 'sans-serif';
    margin-top: 70px;
    color: #FFFFFF;
    text-decoration: none;
}
.links-rodape{
    font-family: 'Inter', 'sans-serif';
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 10px;
}
.links-rodape4{
    font-family: 'Inter', 'sans-serif';
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 10px ;
    margin-bottom: 10px;
}